h1
{
   margin: 0;
   padding: 0;
   text-align: center;
   text-transform: uppercase;
   font-family: verdana;
   font-size: 1.5em;
   line-height: 10vh;
}

h3
{
   text-align: center;
}

p
{
   text-align: justify;
   margin: 25px 50px 75px 100px;
   font-size: 1.2em;
}
p.question
{
   text-align: center;
   font-size: 2em;
   color:#ff6600;
}

p.reponse
{
   text-align: center;
   font-size: 4em;
   color:#ff6600;
}

.section
{
   height: 100%;
   overflow: hidden;
   background-size: cover;
}

#home
{
   background-image: url("../imgs/NBAGame nuls.jpg");
   background-size: 85%;
   background-position: center;
   background-repeat: no-repeat;
   text-align: center;
   color : white;
   font-size: 1.8em;
}

#introduction
{
/*   background-color: AliceBlue;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#NBALogo
{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color : black;
}

#NBAInfos
{
   background-image: url("../imgs/nbaFloor.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color : black;
}

#saison
{
/*   background-color: beige;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#tailleMoy
{
/*   background-color: Azure;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#taille
{
/*   background-color: Azure;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#dunk3pt
{
   background-position: center;
   background-repeat: no-repeat;
}

#revenus
{
/*   background-color: FloralWhite;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#LBJvsMJ
{
   background-image: url("../imgs/LBJxMJ.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#career
{
/*   background-color: Bisque;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#FIBASalary
{
/*   background-color: HoneyDew;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#playersDiversity
{
/*   background-color: Ivory;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#hcDiversity
{
/*   background-color: LavenderBlush;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#NBAvsWNBA
{
/*   background-color: LemonChiffon;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#WNBA
{
/*   background-color: LemonChiffon;*/
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#Conclusion
{
   background-image: url("../imgs/BallonBasket.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color:black;
   font-size: 1.5em;
}

#actions{
   position:fixed;
   top: 10px;
   left: 30px;
   z-index: 99999;
}
#actions a{
   background: rgba(0,0,0,0.8);
   padding: 7px;
   margin: 2px;
   color: #ccc;
   display: inline-block;
}
#actions a:hover{
   color: #fff;
   background: DarkOrange;
}

.tableauPlaceholder{
   margin-left: auto;
   margin-right: auto;
}

.imgs{
   display: block;
   margin-left:15%;
   margin-right:15%;
}

.img-logo{
   height:auto;
   max-width:60%;
}

.fp-slidesNav{
    left: 47% !important;
}
.fp-controlArrow {
    margin-left: 2%;
    margin-right: 2%;
}

/*change color of arrow*/
.fp-controlArrow.fp-next{
    border-color: transparent transparent transparent #000;
}
.fp-controlArrow.fp-prev {
    border-color: transparent #000 transparent transparent;
}

/*change color of the tooltip*/
#fp-nav ul li .fp-tooltip {
    color:#ff6600;
}
